<h1> Ecole Polytechnique de Thies</h1>  
<h1> Cours d'introduction à Python</h1>    
<h2> Enseignant : Dr. Michel SECK </h2>
<h2>Email : mseck@ept.sn</h2>

## <center> <h1> Partie I </h1></center>

 1. Jupyter Notebook (Cellule ``Code``, ``Markdown``)
 2. Introduction générale à Python
 3. Variables
 4. Types de base (``bult-in``) 
 5. Opérateurs + Opérations sur les types
 
 <center> <h1> Evaluation </h1></center>
 
 - Presque chaque cours (un test d'environ ``20mn``)
 - Travail de groupe (par deux ou individuel)
 - devoirs
 - Evaluation globale à la fin du cours
 
 <center> <h1> Matériel du cours </h1></center> 

- Installer Python `3.8` et Jupyter-notebook : 

    - [Distribution Anaconda3](https://www.anaconda.com/products/individual#Downloads) recommandée.
    
- Installer un IDE : 

    - [Visual Studio](https://www.visualstudio.com/fr/)
    - [Visual Studio Code](https://code.visualstudio.com/)
    - [PyCharm](https://www.jetbrains.com/pycharm/) (recommendé)
    
- Python au ``terminal`` (Unix) ou ``Ananconda Prompt`` (Windows):

    - ``$ python``
    - ``$ ipython``
    
- IDLE de Python (pas nécessaire)

## I) Introduction générale à Python


- Python est un langage de programmation 
    - puissant, 
    - facile à apprendre et à utiliser (simplicité),
    - de typage dynamique,
    - orienté objet,
    - interprété, 
    - de syntaxe élégante (code lisible), 
    - gratuit
    - de haut niveau,
    - multiplateforme : `Windows, Mac OS X, Linux, Android, iOS`
    - a une communauté qui s'augmente rapidement,
    - crée par `Guido van Rossum` (en `1989`), aux Pays-Bas. La Première version publique a été publiée en `1991`

Site web de Python : <a href="https://python.org"> python.org </a>

<img src="images/python.png">

#  Utilisation de python
- On peut utiliser Python pour diverses applications :  
    - le développement web, 
    - le développement mobile,
    - le développement d'interfaces graphiques, 
    - la science des données,
    - les graphiques, 
    - le calcul numérique, 
    - l'intelligence artificielle,
    - le calcul distribué
    - ....
    
![100% center](./images/python_dom.png)

#  Quelques organisations utilisant Python

![100% center](./images/python_ent.png)

#  Le Zen de Python par ``Tim Peters``

In [2]:
import this

# II) Environment Jupyter-Notebook

- Fichier ``notebook``: extension ``.ipynb``
- Pour lancer le serveur ``Jupyter-Notebook``, au terminal tapez : ``jupyter-notebook``
- Pour ouvrier un fichier spécifique (exemple ``cours.ipynb``), au terminal, 

    tapez ``jupyter-notebook .... path/cours.ipynb``
- Cellule ``Code python`` 
- Cellule ``Markdown`` : 
    - le [guide Markdown](https://www.markdownguide.org/getting-started/)
    - le [langage Markdown](https://www.markdownguide.org/basic-syntax/)
- Plusieurs commandes magiques : `% command`

    **Exemple** :
    - ``% whos`` : liste tous les objets (variables, ...) utilisés dans le notebook.
    - `` % history`` :  liste toutes les commandes Python lancées dans un notebook.
    - Voir [la documentation pour plus de détails](https://ipython.readthedocs.io/en/stable/interactive/magics.html).

**Remarque :** Les environnements `Linux` ou `Mac OS X`, il est possible de lancer une `commande Unix` depuis un notebook Jupyter. Il faut pour cela précéder la commande du symbole `!`.

**Exemples :**

- ``! pwd`` : pour
- ``! ls`` : pour lister les 
- ``! cd path`` : 
- ``! echo "Command Unix"``
- ``! touch ficher.txt``

In [4]:
!

In [1]:
pwd

'C:\\Users\\fallo\\Desktop\\CoursPython-TDSI'

# III) Variables

Opérateur d'affectation **en Python** est `"="`

`nom_variable = valeur_variable`

## Exemple

In [ ]:
x = 5
y = 7 - x
z = 2*x-x*x

Il faut noter que `"="` dans ce contexte n'exprime *pas* l'équivalence mathématique.

## Type en Python : typage  dynamique

- Dans certains langages de programmation (comme `C`), le type de chaque variable doit être 
   donné explicitement avant son utilisation (un processus appelé **déclaration**). 
- En `Python`, le type d'une variable est 
   déterminée automatiquement lorsqu'une valeur est affectée à une variable.  
- Pour connaitre le type d'une variable en Python, on peut utiliser   ``type(...)``

In [ ]:
x = 5
a = 8

In [ ]:
type(x)

In [ ]:
x = 1/a
type(x)

In [ ]:
decim = 7.2
decim

In [ ]:
type(decim)

# Noms de variables

Il y a quelques règles pour les noms de variables à garder à l'esprit : 

* Ils sont composés (en général) de caractères *alphanumériques* (``a-z``,  ``A-Z``, ``0-9``) et le caractère de soulignement ``_``. Pour les dernières versions de Python (Python 3), les      caractères accentués sont acceptées. 

* Une variable ne peut pas *commencer* par un nombre, mais le nombre peut apparaître 
  n'importe où ailleurs. 

* Caractères inutilisables :  Caractères spéciaux tel que ``\, $, %, !,.``  etc ne peuvent pas être utilisés, ni les virgules ``,``, points ``. `` ou  les tirets ``-``, car ils ont tous d'autres significations particulières.

* Le nom d'une variable *ne peut pas* être ``un mot clef réservé`` tel que ``"or", "and", "if", "def"``, etc.   Il ne devrait pas non plus être un mot avec signification spéciale ("int", "float", "complex", " type ", etc.) parce que la fonctionnalité de ces significations originales devrait être maintenue. 

<h3> Mots clefs</h3>

```python

  
    False      await      else       import     pass
    None       break      except     in         raise
    True       class      finally    is         return
    and        continue   for        lambda     try
    as         def        from       nonlocal   while
    assert     del        global     not        with
    async      elif       if         or         yield
    
```

* Les variables sont sensibles à la casse (en effet, tous les mots (clés ou non) en Python le sont). 
  En d'autres termes, Python fait la distinction entre majuscules et minuscules, de sorte que 
  "message", "Message" et "meSSage" sont trois variables différentes.

In [2]:
is = 2

SyntaxError: invalid syntax (<ipython-input-2-822680bec68a>, line 1)

In [3]:
pass = 7

SyntaxError: invalid syntax (<ipython-input-3-b29ae2d61be3>, line 1)

**Remarque :** N'oubliez pas de donner des noms de variables significatifs.

Une variable pour designer le rayon d'un cercle qui est égal à `2`.

In [ ]:
r = 2 
rayon = 2  # mieux

Une variable pour designer le nombre d'étudiants (total `16`).

In [ ]:
n = 6

In [ ]:
nbre_etudiants = 16  # mieux

## Déclaration multiples

In [ ]:
i, j = 2, 4

In [ ]:
i

In [ ]:
j

In [18]:
###Exercice: Echanger les valeurs 'a' et 'b' avec"
    #a=2
    #b=2
a=2
b=40
c=a
a=b
b=c
print()

## Commentaires,  Affichage et Aide

- Les commentaires commence par ``#``.

- Pour afficher une variable, on peut utiliser la fonction ``print``.
- Pour l'aide sur ``func``, on peut utiliser ``help(func)`` ou ``func?`` ou encore ``?func``.

### Exemples

In [4]:
print(1,2,3)

1 2 3

In [6]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
# Aide pour la fonction ``print``
print?

In [ ]:
?print

In [9]:
x2 = 9
x3 = " Hello"

In [10]:
print(x2, x3, sep="; ")

9;  Hello

In [11]:
print(x2, x3, sep="; ", end="\n")
print(x2, x3, sep="; ", end=" : ")

9;  Hello
9;  Hello :

# IV) Types de base (``built-in``) : 
- ``bool, int, float, str, tuple, list, set, dict``

**Remarque :** Pour connaitre le type d'une variable nommée ``var_a``, éxécuté``type(var_a)``.

## Les entiers : ``int``

In [15]:
n = 4;
n

4

In [14]:
type(n)

int

## Les nombres floatants : ``float``

In [17]:
rayon = 3.4
v = 2.

In [18]:
v

2.0

In [ ]:
type(v)

In [ ]:
largeur  = 3 + 5.1

In [ ]:
type(largeur)

In [ ]:
b = .5;
b

## Les chaines de caractères (string en anglais : ``str``)

Les chaines de caractères sont délimitées par

   - des guillements simples ``'....'`` ou 
   - des guillements doubles ``"...."``.

In [ ]:
salutation = "Bonjour tout le monde"; salutation

In [ ]:
type(salutation)

**Remarque** : Si une chaine est délimitée par des guillements doubles ``"...."``, vous pouvez utiliser à l'intérieur de la chaine des guillements simples ``'....'``.

In [ ]:
aibd = 'L\'Aéroport International Blaise Diagne'
print(aibd)

Une chaine sur plusieurs lignes

In [19]:
tdsi= """
    Fallou
    Gallas
    Bayou
    Mbene
"""

In [21]:
print(tdsi)

    Fallou
    Gallas
    Bayou
    Mbene

## Les tuples : ``tuple``

Les `tuples` sont des collections  délimitées par des parenthèses ``(elt1, elt2, .... eltn)``.

**Remarque**:

- Il faut au moins une virgule dans les parenthèses pour un tuple non vide.
- On peut même omettre les parenthèses i.e ``elt1, elt2, .... eltn``.
- Tuple vide : ``()`` ou ``tuple()``.
- L'ordre des élements compte.

In [1]:
(a, b) = (2, 5)

In [2]:
serie1 = (1, 2, 10, 2.3, "a", "c")
serie1

(1, 2, 10, 2.3, 'a', 'c')

In [ ]:
serie2 = (3, 5, "a", (1, 5.1))
serie2

**Exo**: Un tupe qui contient que la chaine `"DIC1"`

In [27]:
tuple=(3,)

In [28]:
type(tuple)

tuple

**Remarque** Notez que tout élément d'un tuple peut être de n'importe quel type (``"int", "float", "str", "tuple",`` etc)

In [20]:
# tuple vide
tuple_vide = tuple() # ()
tuple_vide

()

In [ ]:
coord = (2, )
coord

## Les listes : ``list``

Les `listes` sont des collections  délimitées par des crochets ``[elt1, elt2, .... eltn]``.

**Remarque**:

- Liste vide : ``[]`` ou ``list()``.
- L'ordre des élements compte.

In [ ]:
liste_alphabet = ["A", "B", "C", "D", "E"]
liste_alphabet

**Remarque** : Comme les tuples, tout élément d'une liste peut être de n'importe quel type (`"int", "float", "str", "tuple", "list"`, etc)

In [78]:
liste2 = [1, 2.3, 4., "A", "B", ["A", "B", "C", "D", "E"], (1,2,3)]
liste2

[1, 2.3, 4.0, 'A', 'B', ['A', 'B', 'C', 'D', 'E'], (1, 2, 3)]

## Les ensembles : ``set``

Les `ensembles` sont des collections  délimitées par des accolades 

``{elt1, elt2, .... eltn}``.

**Remarque** :

- Ensemble vide :  ``set()``.
- L'ordre des élements `ne compte pas`.

In [74]:
E1 = {1,2,3,4,5,6,7,7,8,9,9}
E1

SyntaxError: invalid syntax (<ipython-input-74-15338abac2e8>, line 2)

In [ ]:
E2 = {6,7,7,8,9,1,2,3,4,5,2}
E2

In [21]:
set()

set()

## Les dictionnaires : ``dict``

Les dictionnaires ressemblent aux `objets` en `Javascript`, ils sont délimitées par des accolades, cependant les élements sont sous la forme  `clé : valeur`

### Syntaxe

dico = {cle1: valeur1, cle2: valeur2, .... , cle_n: val_n}

**Remarque :** 

* dictionnaire vide : `{}` ou `dict()`
* les valeurs peuvent être de n'importe quel type ("int", "float", "str", "tuple", "list", etc). 

* les clés aussi peuvent être (en général) de n'importe quel type ("int", "float", "str", "tuple") avec **certaines restrictions**. Par exemple, les clés ne peuvent pas par contre être une liste ou un dictionnaire

### Exemples

In [ ]:
dico1 = {"A" : 0, "B": 1, "C": 1}
dico1

In [22]:
dico2 = {"D": 3, 2: "2", 9: [1,2,3], (1,2,3): 4, "dic": {1:1, "F": 6}}
dico2

{'D': 3, 2: '2', 9: [1, 2, 3], (1, 2, 3): 4, 'dic': {1: 1, 'F': 6}}

In [ ]:
dico3 = {"D": 3, 2: "2", 9: [1,2,3], [1,2,3]: 4}

In [70]:
dicoAlphabet = {"A": 0, "B": 1,"C": 2, "D": 3, "E": 4,"F": 5,"G": 6,"H": 7, "I": 8}
print(dicoAlphabet)

{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7, 'I': 8}

# V) Opérateurs + Opérations sur les types

# V-1. Conversion de types

## Conversion en `int` :  `int(...)`

In [ ]:
type(int)

In [26]:
y=2.9

In [27]:
int(y)

2

In [28]:
a="67"

In [29]:
type(a)

str

In [31]:
int(a)

67

In [ ]:
int([1])

## Conversion en `float` :  `float(...)`

In [32]:
v=7

In [33]:
float(v)

7.0

In [34]:
float("00")

0.0

## Conversion en `string`  : `str(...)`

**remarque** : ``input``

In [35]:
int(input("Madame: Donner un entier"))

Madame: Donner un entier5

5

In [36]:
str(6)

'6'

In [37]:
str((6,8))

'(6, 8)'

**Remarque** : La fonction 'eval'

In [67]:
my_input = eval(input("Entrer qqch"))
print(my_input,type(my_input))

Entrer qqch'fallou'
fallou <class 'str'>

## Conversion en `Tuple` et `Liste` :  `tuple(...)` et `list(...)`

In [2]:
chaine="je vous aime"

In [3]:
list(chaine)

['j', 'e', ' ', 'v', 'o', 'u', 's', ' ', 'a', 'i', 'm', 'e']

In [16]:
tuple(chaine)

('j', 'e', ' ', 'v', 'o', 'u', 's', ' ', 'a', 'i', 'm', 'e')

In [ ]:
L = (1, 2 , 4, 6, 9)

In [ ]:
T = list(L); T

In [ ]:
list(T)

## Conversion en `dictionnaire` :  `dict(...)`

- Une séquence de paire de valeurs

In [38]:
L=((1, "un"), (5, "5"), ("Hello", "Bonjour"))

In [39]:
dict(L)

{1: 'un', 5: '5', 'Hello': 'Bonjour'}

## Conversion en `Booléen` :  `bool(...)`

`bool(var)`: renvoie `False` si `var` est une variable de type

- `int` nul
- `float` nul
- `str` vide
- `tuple` vide
- `list` vide
- `set` vide
- `dict` vide
- etc 

`bool(var)` retoune `True` dans le cas contraire

In [ ]:
bool(0)

In [ ]:
bool(77654)

In [ ]:
bool({})

In [21]:
bool("set()")

True

In [22]:
bool("")

False

In [29]:
if 6:

SyntaxError: unexpected EOF while parsing (<ipython-input-29-8d26ba6227ff>, line 1)

# V-2. opérations sur des variables de type `int` ou  `float`

# Opérateurs

    +       -       *       **      /       //      %

In [30]:
x = 2
y = 7.3
z = x + 2*y
xcarre = x**2
print("x=", x, "y=", y, "z=", z, "xcarre=",xcarre, sep=";")

x=;2;y=;7.3;z=;16.6;xcarre=;4

In [ ]:
x_demi = x / 2
print("x_demi = ", x_demi)
x_demi_prime = x // 2
print("x_demi_prime = ", x_demi_prime)

In [ ]:
# Reste d'une division: Calcul modulo (%)

N = 26

# soit à calculer ... mod N

mes = 66 % N
print("mes = ", mes)

In [ ]:
6667

# V-3. Indices et Slicing (str, tuple, list)

Supposons que **var** est une chaine de caractère, un tuple, ou une liste et **i** un an

* `var[i]` : renvoie l'élément qui est à la position **i + 1** s'il existe; dans le cas contraire une erreur de type **IndexError** sera levée.
* `len(var)` : renvoie le nombre d'éléments

Il faut noter qu'en Python, on commence la numérotation en *0*

In [42]:
chaine = "La transmission des données et la sécurité de l'information"
mon_tuple = ("A", "B", "C", 'D', 'E', 1, 3, 5.2, (3, 6), [1,2,3], 9)
ma_liste = ["Moussa", "Ba", "TSIU", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]

In [43]:
print(len(chaine), len(mon_tuple), len(ma_liste))

59 11 8

In [33]:
mon_tuple[-2]

[1, 2, 3]

In [44]:
chaine[0]

'L'

In [ ]:
chaine[5]

In [ ]:
mon_tuple[0]

In [ ]:
mon_tuple[8]

In [ ]:
ma_liste[0]

In [ ]:
ma_liste[7]

In [ ]:
ma_liste[10]

Indices avec des entiers négatifs

* `var[-1]` : renvoie le dernier élément (s'il existe)
* `var[-2]` : renvoie l'avant dernier élément (s'il existe)
* et ainsi de suite

In [ ]:
ma_liste[-1]

In [ ]:
chaine[-2]

In [ ]:
mon_tuple[-2]

## **Remarque**:

## Si **var** est une chaine de caractère

* `var[debut: fin: pas]` : renvoie une sous chaine de  **var** qui est la concaténation des caractères aux positions allant de **debut** à **fin - 1** avec pas **pas**

## Si **var** est un tuple (ou une liste)

* `var[debut: fin: pas]` : renvoie le tuple (ou la liste) des éléments de **var**  aux positions allant de **debut** à **fin - 1** avec pas **pas**

NB: 


* Si **debut** n'est pas précisé, il est égal à 0
* Si **fin** n'est pas précisé, il est égal au nombre d'éléments de **var**
* Si **pas** (ou **:pas** ) n'est pas précisé, il est égal à 1

In [54]:
ch = "TRANSMISSION DES DONNEES"
T = ("A", 3, 5.2, (3, 6), [1,2,3], 9)
L = ["Moussa", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]

In [55]:
print(len(ch))
ch[0:5:1]

24

'TRANS'

In [56]:
ch[0::3]

'TNII SOE'

In [57]:
L[0: 5: 2]

['Moussa', 'crypto', [3, 'UCAD']]

In [39]:
L[0:3]

['Moussa', '@', 'crypto']

In [40]:
L = "DICDEEPT"

In [41]:
L[-2 :]

'PT'

In [42]:
L[:]

'DICDEEPT'

Opérateurs **in** et **not in**

* `x in sequence` : renvoie **True** si l'élément `x` est dans **sequence** et **False** dans le cas contraire
* `x not in sequence` : renvoie **True** si l'élément `x` n'est pas dans **sequence** et **False** dans le cas contraire

In [43]:
T1 = ("A", 3, 5.2, (3, 6), [1,2,3], 9)
L1 = ["Moussa", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]

In [44]:
"A" in T1

True

In [45]:
L1[4][1]

'UCAD'

In [47]:
"A" in L1[4][1]

True

In [48]:
"B" in T1

False

In [46]:
3 not in L1

True

In [ ]:
(0, 2.2, 8) in L1

In [ ]:
"M" in L1[0]

In [ ]:
"M" in T1[1]

In [49]:
"t" in "TDSI"

False

# Exercice

# V-4. Opérations sur les chaines de caractères (str) et fstring

On suppose **chaine** est de type **str** 

* `chaine.lower()` : mettre  tous les caractères en minuscule
* `chaine.upper()` : mettre  tous les caractères en majuscule
* `chaine.replace(ch1, ch2)` : remplace ch1 par ch2
* `chaine.endswith(x)` : renvoie `True` si `chaine` se termine par `x` et `False` dans le cas contraire
* `chaine.startswith(x)` : renvoie `True` si `chaine` commence par `x` et `False` dans le cas contraire
* `chaine1 + chaine2` : la concaténation de chaine1 et de chaine
* `n * chaine` avec $n$ un entier : $\underset{n\ \text{fois}}{\underbrace{\text{chaine} + \text{chaine}+ \ldots + \text{chaine}}}$
* `index`
* `split`

## Exercice:
- Demander à l'utilisateur de donner son adresse email `patie1@partie` et 
    - Affciher les parties ``patie1, partie`

In [55]:
email=falloud70@gmail.com
emai

SyntaxError: invalid syntax (<ipython-input-55-6603e10b1e55>, line 2)

In [7]:
mail = input("votre mail svp ")
partie1, partie2 = mail.split('@')
print(partie1, partie2)

votre mail svp jgfj@hgj
jgfj hgj

Solution1

In [6]:
mail=input(" votre mail")
ind_a=mail.index('@')
partie1

 votre mailhglg@jj

'faggg'

In [ ]:
dir(str)

In [58]:
chaine = "Bonjour Monsieur Sow"

In [59]:
chaine.lower()

'bonjour monsieur sow'

In [60]:
chaine.upper()

'BONJOUR MONSIEUR SOW'

In [61]:
chaine.replace("Sow", "SECK")

'Bonjour Monsieur SECK'

In [62]:
ch1 = chaine.upper()
ch2 = ch1.replace(" ", "") 
ch2
# enlever les espaces

'BONJOURMONSIEURSOW'

In [ ]:
chaine. #tabulation

In [12]:
### code ASCII
ord("A")

'A'

In [13]:
###l'opperation inverse
chr(65)

'A'

### Fstring

In [ ]:
x = 2
y = x**2

diff = abs(x - y)

# ch3 = "Pour x=2, y=4, et la différence de x et de y = 2"
ch3 = f"Pour x={x}, y={y}, et la différence de x et de y diff= {diff}"
ch3

In [ ]:
a=int(input("entrer la valeur"))
print("le carree de {} est {} ".format(a,a**2))

# la méthode .format()

In [ ]:
x, y = 5, 9

In [ ]:
ch4 = "Pour x={}, y={}, et la différence de x et de y".format(x, y)
ch4

In [ ]:
ch4 = "Pour y={1}, x={0}, et la différence de x et de y".format(x, y)
ch4

In [ ]:
ch5 = "La valeur de x={0}, sa valeur absolue est {0} et son carré est {1}".format(x, y)

In [ ]:
chaine1 = "Bonjour"
chaine2 = "tout le monde !"

In [ ]:
chaine1 + chaine2

In [ ]:
chaine1 + " " + chaine2

### Si L est une liste de chaine de caractères alors

* `chaine.join(L)` : renvoie chaine de caractères qui est la concaténation des éléments de L separés deux à deux par **chaine**  
    i.e `L[0] + chaine + L[1] + chaine + L[2] + chaine + ... `

In [ ]:
L = ["A", "B", "C", "D", "F"]

In [ ]:
"@".join(L)

In [ ]:
" --> ".join(L)

In [ ]:
"".join(L)

In [63]:
x=str(input("entrer un chaine "))
print("-".join(list(x)))

entrer un chaine cvbcj,jgh
c-v-b-c-j-,-j-g-h

In [ ]:
chaine1.startswith("Bon")

In [ ]:
chaine2.endswith('!')

**Exercice**:

Demander à l'utilisateur son email et dire si c'est

- `Gmail`
- `Yahoo`
- `EPT`
- `Outlook`

# V-5-1. Opérations sur les tuples

In [ ]:
T = ("BALDE", "NDIAYE", "SECK", "SOW", "NASSER")
T2 = ("B", "N", "S", "N")

In [ ]:
del T[0]

In [ ]:
dir(tuple)

ch4

# V-5-2. Opérations sur les listes

In [ ]:
dir(list)

### Supposons que **L, L1** et **L2**  sont de type ``list``

* `del L[i]` : supprime l'élément `L[i]` de la liste `L`
* `L.append(val)`: ajoute `val` à la liste
* `L1.extend(L2)` : rajoute `L2` à `L1`
* `L1 + L2` : renvoie la concaténation des deux listes `L1` et `L2`
* `L.insert(val, i)` : insert `val` à la position `i`
* `L[i] = val` : remplace l'élément à la position `i` par `val`

In [14]:
fruit = ["Pomme", "Orange", "Mangue", "Bannane", "Pastec", "Citron"]

In [15]:
fruit + fruit

['Pomme',
 'Orange',
 'Mangue',
 'Bannane',
 'Pastec',
 'Citron',
 'Pomme',
 'Orange',
 'Mangue',
 'Bannane',
 'Pastec',
 'Citron']

In [16]:
fruit.append("Clémentine")

In [17]:
fruit

['Pomme', 'Orange', 'Mangue', 'Bannane', 'Pastec', 'Citron', 'Clémentine']

In [20]:
fruit[1] = "Mandarine"

In [21]:
fruit

['Pomme', 'Mandarine', 'Mangue', 'Bannane', 'Pastec', 'Citron', 'Clémentine']

In [23]:
del fruit[1]
fruit

['Pomme', 'Mangue', 'Bannane', 'Pastec', 'Citron', 'Clémentine']

In [22]:
L = fruit[:]
print(L)

['Pomme', 'Mandarine', 'Mangue', 'Bannane', 'Pastec', 'Citron', 'Clémentine']

## Remarque : Effet de bord

In [24]:
L=[1,2]
M=L
M.append(5)
print(M)

[1, 2, 5]

In [25]:
print(L)

[1, 2, 5]

# Remarque : `mutables` et `immuables`

La valeur de certains objets peut changer. Les objets qu'on peut modifier (`ajouter, supprimer, remplacer`) sont dits `mutables` (`mutable` en anglais) et les objets dont la valeur est définitivement fixée à leur création sont dits `immuables` (`immutable` en anglais).


1. `mutables` : `'list', 'set', 'dict'` ; on peut modifier, supprimer, ajouter des éléments etc.
2. `immuables` : `'int, float, str, tuple'`

In [26]:
T = (1, 2, [1, 2])

In [29]:
id(T[2])

2653190128512

In [27]:
T[2].append("TDSI")

In [28]:
T

(1, 2, [1, 2, 'TDSI'])

In [30]:
id(T[2])

2653190128512

# V-6. Opérations sur les dictionaires

Supposons que `dico` est un dictionaire.


- `dico.keys()` : les clefs de `dico` (`list(dico.keys()` retourne la liste des cles),
- `dico.values()` : les valeurs de `dico` (`list(dico.values()` retourne la liste des valeurs),
- `dico.items()` : les items de `dico` (`list(dico.items()` retourne la liste des items i.e `[(key1, valeur1), (key2, valeur2), ...., (keyn, valeurn)]`),
- `dico.copy()` : une shallow copie de `dico`,
- `key in dico` : renvoie `True` si `key` est une clé du ditionnaire `dico` et `False` dans le cas contraire,
- `dico[key] =  valeur` ajoute l'élément  `key: valeur` au dictionaire,
- `del dico[key]` supprime la clef `key` et sa valeur.

In [31]:
dico = {"A": 0, "B": 1, "C": 2, "D": 3, "E": 4}

In [32]:
"A" in dico

True

In [33]:
dico.values()

dict_values([0, 1, 2, 3, 4])

In [34]:
type(dico.values())

dict_values

In [35]:
tuple(dico.values())

(0, 1, 2, 3, 4)

In [36]:
dico.items()

dict_items([('A', 0), ('B', 1), ('C', 2), ('D', 3), ('E', 4)])

In [37]:
del dico['A']

In [38]:
dico

{'B': 1, 'C': 2, 'D': 3, 'E': 4}

In [39]:
dico1 = {"A": 0, "B": 1}
dico2 = {"D": 3, "E": 4}

In [40]:
{**dico1, **dico2}

{'A': 0, 'B': 1, 'D': 3, 'E': 4}

In [42]:
dict.

AttributeError: type object 'dict' has no attribute 'upper'

# Exercic1: methodes de mis-a-jour d'un dic

# 7. Opérations sur les booleens

In [ ]:
True + True

In [ ]:
True - False

In [ ]:
True and True

In [ ]:
True or False

In [16]:
ch = input("Saisir une phrase")
a = ch or "Bonjour"
print(a)

KeyboardInterrupt: Interrupted by user

# 8. Remaques


`variable operateur= valeur`   est équivalent à `variable = variable operateur valeur`

`+=      -=      *=      /=      //=     %=      &=      |=      ^=       **=`

In [ ]:
x = 6
# x = x + 4

In [ ]:
x += 4
print(x)

In [ ]:
y = 20 
y //= 5 # y = y // 5
print(y)

In [8]:
def f(a,b):
    if b==1:
        return a
    return a + f(a,b-1)
print (f(3,5))

15

In [9]:
f(1,2)

2

In [28]:
def plusGrandNombre():
    listNumber = eval(input(" Entrer une liste de valeur"))
    print("Le plus grand est :")
    print (max(listNumber))
plusGrandNombre()

 Entrer une liste de valeur85,8,78,2
Le plus grand est :
85

In [52]:
import math
def transformCoordonne(x,y):
    r_carre = x**2 + y**2
    teta = math.atan(y/x)
    x_pol = math.sqrt(r_carre)*math.cos(teta)
    y_pol= math.sqrt(r_carre)*math.sin(teta)
    print("les coordonnées polaires sont:")
    print(x_pol,"\t",y_pol)
transformCoordonne(8,3)
math.atan(1.5)
3.5*math.cos(0.98)

les coordonnées polaires sont:
7.999999999999999 	 2.9999999999999996

1.9495789136817607